header {
    padding: 20px 35px;
    background-color: rgb(34, 34, 102)
}

header a{
color: aquamarine;
background-color: rgb(34, 34, 102);
}

header h1 {
font-weight: bold;
font-size: 36px;
color: aquamarine

}

header nav a{
float: right;
margin: 0 30px;
}

header nav ul li {
    display:inline;
    color: aquamarine;
    font-size: 30px;
}
